<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Task manager</title>
	<script src="{% static 'task_manager_static/js/utils.js' %}"></script>
	<link rel="stylesheet" href="{% static 'task_manager_static/css/global.css' %}">
	<script src="{% static 'task_manager_static/js/vue_develop.js' %}"></script>
	<script src="{% static 'task_manager_static/js/axios.min.js' %}"></script>
	{% if not user.is_authenticated %}
		<script src="{% static 'task_manager_static/js/auths.js' %}" defer></script>
		<link rel="stylesheet" href="{% static 'task_manager_static/css/unathorized.css' %}">
	{% else %}
		<link rel="stylesheet" href="{% static 'task_manager_static/css/main.css' %}">
	{% endif %}
</head>
<body>
	{% if user.is_authenticated %}
	<!-- header -->
	<div id="main_app_wrapper_">
		<header class="app-header">
			<div class="header-container">
				<div class="header-title-part">
					<div class="app-logo-title">
						<img src="{% static 'task_manager_static/img/logo.svg' %}" alt="" class="app-logo">
						<span class="app-title">TASK MANAGER</span>
					</div>
					<div class="current-user-wrapper">
						<span class="current-profile">
							{{ user.profile }}
						</span>
						<hr>
					</div>
				</div>
				<div class="header-hotbar-part" v-if=statuses_loaded>
					<div :class="['hotbar-item', {'hotbar-active': current_active_item == 0}]" @click=select_tab(0)>
						<span>Список всех задач</span> 
					</div>	
					<div :class="['hotbar-item', {'hotbar-active': current_active_item === 1}]" @click=select_tab(1)>
						<span>Создать задачу</span> 
					</div>	
					<div @click.middle="close_tab(item)" v-for="item in task_list" :class="['hotbar-item', 'task-hotbar-item', {'hotbar-active': current_active_item === item.tab_id}]" @click="select_tab(item.tab_id)">
						<span>[[item.name]]</span> 
						<img title="Закрыть" v-if="current_active_item === item.tab_id" src="static/task_manager_static/img/close_tab_button.svg" class="close-button" @click.self.stop="close_tab(item)">
					</div>					
				</div>
			</div>
		</header>
		<main class="app-main-authenticated">
			<keep-alive>
				<div v-cloak v-bind=active_component></div>
			</keep-alive>
		</main>

		<!-- utilities -->
		<div class="logout-block-wrapper" @click="confirm_logout">
			<img src="{% static 'task_manager_static/img/logout.svg' %}" alt="">
		</div>
		<div v-if="is_loading" class="black-screen">
			<div class="loading-dots-block">
				<div class="dot-bricks"></div>
			</div>
		</div>
		<div v-cloak class="black-screen" v-if=show_logout>
			<div class="logout-confirm-block-wrapper">
				<span class="logout-confirm-title">Вы действительно хотите выйти?</span>
				<div class="logout-confirm-buttons">
					<button id="btn_confirm" @click="logout_confirmed">Да</button>
					<button id="btn_decline" @click="logout_declined">Нет</button>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'task_manager_static/js/main.js' %}"></script>
	<script src="{% static 'task_manager_static/js/components.js' %}"></script>
	{% elif not user.is_authenticated %}
	<!-- header -->
	<header class="app-header">
		<div class="header-container">
			<div class="app-logo-title">
				<img src="{% static 'task_manager_static/img/logo.svg' %}" alt="" class="app-logo">
				<span class="app-title">TASK MANAGER</span>
			</div>
		</div>
	</header>
	<!-- main -->
	<main class="app-main" id="app_main">
		<form @submit="sendAuthsRequest" action="" method="POST" id="authForm" class="auths-form">
			{% csrf_token %}
			<span class="auth-title">Авторизация</span>
			<span class="authentication-input-start">Чтобы продолжить необходимо войти</span>
			<div :class=authLoginClass>
				<label for="login_input">Логин</label>
				<input v-model="loginInput" autocomplete="nickname" name="" id="login_input">
			</div>
			<span class="help-text">[[loginHelpText]]</span>
			<div :class=authPasswordClass>
				<label for="password_input">Пароль</label>
				<input v-model="passwordInput" autocomplete="none" type="password" name="" id="password_input">
			</div>
			<span class="help-text">[[passwordHelpText]]</span>
			<button type="submit" :disabled=submitDisabled class="form-submition">[[SubmitStatus]]</button> 
		</form>	
		<div v-if="is_loading == true" class="black-screen">
			<div class="loading-dots-block">
				<div class="dot-bricks"></div>
			</div>
		</div>
	</main>
	{% endif %}
</body>
</html>